@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Black.woff2) format(woff2), url(../fonts/Lato-Black.woff) format(woff);
    font-display: swap;
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Bold.woff2) format(woff2), url(../fonts/Lato-Bold.woff) format(woff);
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Regular.woff2) format(woff2), url(../fonts/Lato-Regular.woff) format(woff);
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Larsseit";
    src: url(../fonts/Larsseit-Regular.woff2) format(woff2), url(../fonts/Larsseit-Regular.woff) format(woff);
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Larsseit";
    src: url(../fonts/Larsseit-Bold.woff2) format(woff2), url(../fonts/Larsseit-Bold.woff) format(woff);
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Larsseit";
    src: url(../fonts/Larsseit-Medium.woff2) format(woff2), url(../fonts/Larsseit-Medium.woff) format(woff);
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}   
@font-face {
    font-family: "LeMurmure";
    src: url(../fonts/LeMurmure-Regular.woff2) format(woff2), url(../fonts/LeMurmure-Regular.woff) format(woff);
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}
.experement p {
    font-family: Loto;
    font-weight: 900;
    color: greenyellow;
}
.table {
    font-family: Lato;
    font-weight: 700;
    color:red;
}
.table > ul {
    font-family: Roboto;
    font-weight: 900;
    color:deeppink;
}
.table ~ ul {
    color:blueviolet;
}
#title {
    font-family: Roboto;
    font-weight: 700;
    color:red;
}
.lorem  {
    font-family: Larsseit;
    font-weight: 700;
    color:yellow;
}
.extra p {
    font-family: LeMurmure;
    font-weight: 400;
    color:forestgreen;
} 
.footer a {
    font-family: Larsseit;
    font-weight: 700;
    color:blueviolet;
}

